body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 12px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background: white;
}
